<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div
      class="container-fluid shadow-div col-md-6 d-flex justify-content-center register-div p-3"
      data-aos="fade-up"
    >
      <div class="justify-content-center">
        <h4 class="text-center"><b>CRÉATION D'UNE OFFRE D'EMPLOI</b></h4>
        <!-- <p class="text-center">
          Si vous possedez deja un compte pour votre entreprise, connectez vous
          en cliquant sur
          <a routerLink="/entreprise/login" class="text-primary">
            se connecter</a
          >
        </p> -->
        <div class="col-md-12">
          <form
            #localFormOffre="ngForm"
            enctype="multipart/form-data"
            [formGroup]="offreForm"
          >
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="errorClass.status == false"
            >
              {{ errorClass.message }}
            </div>
            <div
              class="alert alert-success"
              role="alert"
              *ngIf="errorClass.status == true"
            >
              {{ errorClass.message }}
            </div>
            <div class="card-body">
              <div class="mt-4" style="background-color: rgb(16, 28, 82)">
                <h6 class="text-white text-center">
                  <b>Description de l'offre</b>
                </h6>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <label for="email">Titre de l'offre *</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Titre de l'offre"
                    formControlName="title"
                  />
                  <span *ngIf="title_offre.invalid" style="color: red"
                    >champ obligatoire</span
                  >
                  <!-- <input
                    type="hidden"
                    class="form-control"
                    formControlName="oid"
                  /> -->
                </div>
                <div class="col-sm-4">
                  <label for="email">N° de place *</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="N° de place"
                    formControlName="nbPlace"
                  />
                  <span *ngIf="nbPlace_offre.invalid" style="color: red"
                    >champ obligatoire</span
                  >
                </div>
                <div class="col-sm-4">
                  <label for="email">Date limite</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Date limite"
                    formControlName="dateline"
                    [min]="todayDate"
                  />
                  <span *ngIf="dateline_offre.invalid" style="color: red"
                    >champ obligatoire</span
                  >
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-sm-4">
                  <label for="email">Type d'emploi</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="typeEmploi"
                  >
                    <option
                      class="dropdown-item"
                      disabled
                      selected
                      value="undefined"
                    >
                      Selectionner
                    </option>
                    <option value="Temps plein">Temps plein</option>
                    <option value="Temps partiel">Temps partiel</option>
                  </select>
                  <span
                    *ngIf="
                      this.offreForm.get('typeEmploi').value == 'undefined'
                    "
                    style="color: red"
                    >champ obligatoire</span
                  >
                </div>
                <div class="col-sm-4">
                  <label for="email">Type de contrat</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="typeContrat"
                  >
                    <option
                      class="dropdown-item"
                      disabled
                      selected
                      value="undefined"
                    >
                      Selectionner
                    </option>
                    <option value="CDD">CDD</option>
                    <option value="CDI">CDI</option>
                  </select>
                  <span
                    *ngIf="
                      this.offreForm.get('typeContrat').value == 'undefined'
                    "
                    style="color: red"
                    >champ obligatoire</span
                  >
                </div>
                <div class="col-sm-4">
                  <label for="email">Secteur d'activité *</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="activitySectors"
                  >
                    <option
                      class="dropdown-item"
                      disabled
                      selected
                      value="undefined"
                    >
                      Selectionner
                    </option>
                    <option
                      *ngFor="
                        let activitySectors of activitySectorsList;
                        let i = index
                      "
                      value="{{ activitySectors.oid }}"
                    >
                      {{ activitySectors.name }}
                    </option>
                  </select>
                  <span
                    *ngIf="
                      this.offreForm.get('activitySectors').value == 'undefined'
                    "
                    style="color: red"
                    >champ obligatoire</span
                  >
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-sm-4">
                  <label for="email">Pays *</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="pays"
                  >
                    <option
                      class="dropdown-item"
                      disabled
                      selected
                      value="undefined"
                    >
                      Selectionner
                    </option>
                    <option
                      *ngFor="let pays of paysList; let i = index"
                      value=" {{ pays }}"
                    >
                      {{ pays }}
                    </option>
                  </select>
                  <span
                    *ngIf="this.offreForm.get('pays').value == 'undefined'"
                    style="color: red"
                    >champ obligatoire</span
                  >
                </div>
                <div class="col-sm-4">
                  <label for="email">Villes</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ville"
                    formControlName="villes"
                  />
                  <span *ngIf="villes_offre.invalid" style="color: red"
                    >champ obligatoire</span
                  >
                </div>
                <div class="col-sm-4">
                  <label for="email">Image</label>
                  <input
                    type="file"
                    class="form-control"
                    placeholder="Identifiant"
                    formControlName="image"
                    (change)="onFileChangedLogo($event)"
                  />
                  <span [hidden]="file_statut" style="color: red"
                    >Format jpeg requit</span
                  >
                  <!-- <div>
                    <span
                      *ngIf="
                        localFormRegister.submitted &&
                        registerForm.hasError('passwordNotMatch')
                      "
                      style="color: red"
                      >Les mot de passe sont differents</span
                    >
                  </div> -->
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-sm-12">
                  <label for="email">Detail de l'offre</label>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="2"
                    placeholder="Veillez saisir une texte"
                    formControlName="detail"
                  ></textarea>
                </div>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-end">
              <button
                type="submit"
                class="btn btn-success btn-rounded col-md-4"
                (click)="create_offres()"
              >
                Valider
              </button>
            </div> -->
          </form>
          <div class="card-body">
            <div class="mt-4" style="background-color: rgb(16, 28, 82)">
              <h6 class="text-white text-center">
                <b>Mission</b>
              </h6>
            </div>
            <div class="row" *ngFor="let mission of missionTab; let i = index">
              <div class="col-sm-11">
                <label for="email">Libelle de la mission</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Libelle de la mission"
                  name="{{ mission.name }}"
                  [(ngModel)]="mission.name"
                />
                <!-- {{ missionTab | json }} -->
                <!-- <span
                  *ngIf="
                    localFormOffre.submitted && missionsOffres_offre.invalid
                  "
                  style="color: red"
                  >champ obligatoire</span
                > -->
              </div>
              <div class="col d-flex justify-content-end">
                <button
                  type="button"
                  class="btn-close mr-auto"
                  aria-label="Close"
                  (click)="deleteMissionRow(i)"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="mt-3">
              <button
                type="button"
                class="btn btn-primary mb-2 col-md-2"
                (click)="addMission()"
              >
                Ajouter
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="mt-4" style="background-color: rgb(16, 28, 82)">
              <h6 class="text-white text-center">
                <b>Competence solicitées</b>
              </h6>
            </div>
            <div
              class="row"
              *ngFor="let competence of competenceTab; let i = index"
            >
              <div class="col-sm-11">
                <label for="email">Libelle de la competence</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Libelle de la competence"
                  name="{{ competence.name }}"
                  [(ngModel)]="competence.name"
                />
                <!-- <span
                  *ngIf="
                    localFormOffre.submitted && competenceOffres_offre.invalid
                  "
                  style="color: red"
                  >champ obligatoire</span
                > -->
              </div>
              <div class="col d-flex justify-content-end">
                <button
                  type="button"
                  class="btn-close mr-auto"
                  aria-label="Close"
                  (click)="deleteCompetenceRow(i)"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="mt-3">
              <button
                type="button"
                class="btn btn-primary mb-2 col-md-2"
                (click)="addCompetence()"
              >
                Ajouter
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-success btn-rounded col-md-4"
              (click)="create_offres()"
            >
              Valider
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1"></div>
  </section>
  <!-- End About Section -->
</main>
