<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container shadow-div p-4" data-aos="fade-up">
      <div class="justify-content-center" style="background-color: #03224c">
        <h2 class="text-center text-white"><b>NOTRE VISION</b></h2>
        <p class="text-center"></p>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/personel-1024x683.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-7 col-md-6 mt-5">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <ul style="text-align: justify;">
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Être une société panafricaine de
                ressources humaines en ce qui
                concerne la formation professionnelle, le placement et la
                fourniture de personnel.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Doter tous les segments de la
                population dans le continent
                africain en général et au Cameroun en particulier des
                compétences nécessaires pour résoudre le problème de
                l'insuffisance de la formation - Emploi.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Travailler pour des personnes qui
                veulent faire concurrence sur
                le marché du travail en leur offrant une formation pratique dans
                différents domaines.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5"></div>
  </section>
  <!-- End About Section -->
</main>