<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container shadow-div p-4" data-aos="fade-up">
      <div class="justify-content-center" style="background-color: #03224c;">
        <h2 class="text-center text-white"><b>NOS VALEURS</b></h2>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/personel-1024x683.jpg" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6 mt-5">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <P style="text-align: justify;">Chez <b>AFRIKA JOB AND CONSULTING,</b> chaque décision que nous
              prenons dépend d'un code de déontologie rigoureux et de valeurs
              fortes.</P>
            <p style="text-align: justify;">
              Depuis plus de 5 ans, <b>AFRIKA JOB AND CONSULTING,</b> construit son
              identité autour des Valeurs "pilotes" qui nous accompagnent dans
              toutes nos phases de développement, axé avant tout sur les
              rapports humains et de partenariat.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5"></div>
  </section>
  <!-- End About Section -->
</main>