<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container shadow-div p-4" data-aos="fade-up">
      <div class="justify-content-center" style="background-color: #03224c">
        <h2 class="text-center text-white">
          <b>AUDIT DES RESSOURCES HUMAINES</b>
        </h2>
      </div>
      <div class="justify-content-center">
        <p class="text-center">
          L'objectif etant de gérer, de piloter et de développer les ressources humaines,
          et les relations sociales afin de les orienter et les mobiliser vers la réalisation des objectifs de
          l’organisation;
        </p>
      </div>
      <div class="row mt-3">
        <div class="col-lg-5 col-md-6 mt-3">
          <div class="about-img mt-3" data-aos="fade-right" data-aos-delay="100">
            <!-- <img src="./assets/img/management-de-ressource-humaines.jpg" alt="" /> -->
            <img src="./assets/img/photo/auditrh.jpeg" alt="" />

          </div>
        </div>

        <div class="col-lg-7 col-md-6 mt-2">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <ul>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Diagnostiquer systématiquement
                l’entreprise dans le volet
                ressources humaines et relever les éléments lui permettant
                d’appréhender la qualité du management en place.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Identifier les goulots d’étranglement
                et prescrire des
                solutions devant permettre la traçabilité des outils de gestion
                des ressources humaines.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                Rédiger les tableaux de bord souscrivant à la bonne lisibilité
                de la gestion des ressources humaines.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                Audit de conformité.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                Audit d’efficacité.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2"></div>
  </section>
  <!-- End About Section -->
</main>