<main id="main">
  <section id="about" style="margin: 7%; ">


    <div class="container shadow-div border rounded-4" data-aos="zoom-in">

      <div class="row m-3">
        <div class="col-md-12 mt-2 text-center">
          <h4 style="color: green;"><strong>Espace candidat</strong> </h4>
        </div>
        <div class="col-md-12 mt-2">
          <h5>Veuillez fournir les renseignements suivants</h5>
        </div>

        <div class="col-md-12 mt-2">
          <form [formGroup]="loginForm" (ngSubmit)="onConnexion()">
            <div class="form-group">
              <label for="identifiant">Adresse email</label>
              <input type="email" class="form-control" id="identifiant" aria-describedby="emailHelp"
                formControlName="identifiant" placeholder="Votre email">
            </div>
            <div class="form-group mt-3">
              <label for="pwd">Mot de passe</label>
              <input type="password" class="form-control" id="pwd" placeholder="Mot de passe" formControlName="pwd">
            </div>
            <div class="col mt-3">
              <a href="#">Mot de passe oublier ?</a>
            </div>
            <button type="submit" class="btn btn-primary col-md-12 mt-2" style="background-color: #03224c; 
          border-color: #03224c;">Se connecter</button>
          </form>
        </div>
        <div class="col-md-12 mt-4 mb-4  border-top">
          <div class="col pt-2">
            <h6> Vous n'avez ps de compte ?</h6>
          </div>
          <button type="submit" class="btn btn-primary col-md-12" style="background-color: #03224c; 
          border-color: #03224c;">Creer un
            compte</button>
        </div>

      </div>
    </div>

  </section>
</main>