<main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="about mb-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="
            height: 100vh;
            background: linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
              ),
              url('./assets/img/bannier1/bannier9.webp');
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
          ">
          <div class="carousel-caption mb-5">
            <div class="carousel-caption" style="margin-top: 5000px">
              <h2><b>Trouvez un emploi descend ou que vous vous trouvez</b></h2>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
            <!-- <div class="row-5 mb-5 d-flex justify-content-center">
              <div class="col-md-4">
                <div class="col-md-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-rounded col-md-8"
                    style="background-color: rgba(14, 31, 187, 0.7)"
                  >
                    <i class="fa fa-home"></i>&nbsp; Trouver un profil
                  </button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn btn-primary btn-md btn-block waves-effect waves-light text-center text-white col-md-8"
                    style="
                      border-radius: 50px 20px;
                      background-color: rgba(14, 31, 187, 0.7);
                    "
                  >
                    <b>Trouver un travail</b>
                  </button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="carousel-item" style="
            background: linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
              ),
              url('./assets/img/bannier1/bannier7.webp');
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
          ">
          <div class="carousel-caption" style="margin-top: 5000px">
            <h2><b>Trouvez un emploi descend ou que vous vous trouvez</b></h2>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="
            height: 100vh;
            background: linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
              ),
              url('./assets/img//bannier1/bannier1.webp');
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
          ">
          <div class="carousel-caption">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up" style="margin-top: -30px">
      <div class="row mb-5">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/about-img.jpg" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2>A propos de nous</h2>
            <p class="text-justify">
              <b>AFRIKA JOB’S & CONSULTING</b> née en 2018 est un cabinet de
              ressource humaine et de formation professionnelle.
            </p>
            <p>Avec comme objectif</p>
            <ul class="mt-5 text-justify">
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                D’accompagner les managers dans la gestion des ressources
                humaines de leur entreprise.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>De combler les attentes de nos clients
                par des solutions
                appropriées.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                Assurer nos clients de notre disponibilité en respectant les
                délais à nous prescrire.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                Souscrire à la clause de confidentialité pour toutes les
                informations dont nous avons.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                été doté avant pendant et après notre intervention.
              </li>
            </ul>
            <p class="mt-5 text-justify">
              La recherche de l’excellence dans son objet social
              <b>(mise à disposition, placement et formation professionnelle) </b>reste le seul cheval de bataille de la
              société
              <b>AFRIKA JOB’S AND CONSULTING.</b> Nous nous maintenons donc
              comme entreprise liée sur des valeurs sures et fiables.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Nos services</h3>
        <p>Nos services pour vos besoins</p>
      </header>

      <div class="row g-5">
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon" style="background: #fceef3">
              <i class="bi bi-briefcase" style="color: #ff689b"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/placement-du-personnel">Mise à disposition du personnel</a>
            </h4>
            <p class="description" style="text-align: justify;">
              Nous vous offrons au travers de ce service,
              du personnel qualifié de toute catégorie socio-professionnelle,
              un ensemble de services en direction des personnes qui ont besoin
              d’une aide ... <a routerLink="nos-services/placement-du-personnel">Voir plus</a>
            </p>
          </div>
        </div>
        <div class=" col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon" style="background: #fff0da">
              <i class="bi bi-card-checklist" style="color: #e98e06"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/management-des-rh">Management des ressources humaines</a>
            </h4>
            <p class="description" style="text-align: justify;">
              Disposer d'un capital humain motivé et performant pour optimiser le fonctionnement de votre organisation,
              fonction des ressources humaines est primordiale pour la bonne marche d'une entreprise, à savoir
              <a routerLink="nos-services/management-des-rh">Voir plus</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #e6fdfc">
              <i class="bi bi-bar-chart" style="color: #3fcdc7"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/audit-des-rh">Audit des ressources humaines</a>
            </h4>
            <p class="description" style="text-align: justify;">
              L'objectif etant de gérer, de piloter et de développer les ressources humaines, et les relations sociales
              afin de les orienter
              et les mobiliser vers la réalisation des objectifs de l’organisation
              <a routerLink="nos-services/audit-des-rh">Voir plus</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon" style="background: #eafde7">
              <i class="bi bi-binoculars" style="color: #41cf2e"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/fiscalite-administrative">Fiscalité administrative</a>
            </h4>
            <p class="description" style="text-align: justify;">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #ecebff">
              <i class="bi bi-calendar4-week" style="color: #8660fe"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/traning">Fomations</a>
            </h4>
            <p class="description" style="text-align: justify;">
              Les offres de formation sont organisées à votre demande, elles répondent à une approche sur mesure
              qui permet d'établir conjointement un contenu spécifique et une durée adaptée aux besoins. Le segments
              de formation etant :
              <a routerLink="nos-services/traning">Voir plus</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container-fluid" data-aos="fade-up">
      <header class="section-header">
        <h3>Pourquoi choisir Afrika Job's & Consulting?</h3>
        <p></p>
      </header>

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="why-us-img">
            <img src="./assets/img/why-us.jpg" alt="" class="img-fluid" />
          </div>
        </div>

        <div class="col-lg-6">
          <ul style="text-align: justify;">
            <!-- <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Afin de se concentrer sur les missions principales de votre
              structure.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Afin de maitriser le droit de travail et la gestion des ressources
              humaines.
            </p> -->
            <!-- <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour un conseil en ressource humaine.
            </p> -->
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour l’assistance au recrutement.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour une meilleure rentabilité de votre structure.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour une facilitation administrative.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour la mise à disposition du personnel temporaire.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour le placement du personnel.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour la formation professionnelle.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour être en conformité avec la législation en vigueur.
            </p>
            <p>
              <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
              Pour accompagner les entreprises pour tous services en relation
              avec l’administration du travail et la prévoyance sociale
              (inspection du travail, caisse nationale de prévoyance sociale,
              etc…).
            </p>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">
      <header class="section-header">
        <h3>Témoignages</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <!-- Carousel wrapper -->
            <div id="carouselExampleInterval" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <img class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                          style="width: 150px" />
                        <h5 class="mb-3">Anna Deynah</h5>
                        <p>UX Designer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quod eos id officiis hic tenetur quae quaerat ad
                          velit ab hic tenetur.
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                          style="width: 150px" />
                        <h5 class="mb-3">John Doe</h5>
                        <p>Web Developer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Ut enim ad minima veniam, quis nostrum exercitationem
                          ullam corporis suscipit laboriosam, nisi ut aliquid
                          commodi.
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                          style="width: 150px" />
                        <h5 class="mb-3">Maria Kate</h5>
                        <p>Photographer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum deleniti
                          atque corrupti.
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <img class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                          style="width: 150px" />
                        <h5 class="mb-3">Anna Deynah</h5>
                        <p>UX Designer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quod eos id officiis hic tenetur quae quaerat ad
                          velit ab hic tenetur.
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                          style="width: 150px" />
                        <h5 class="mb-3">John Doe</h5>
                        <p>Web Developer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Ut enim ad minima veniam, quis nostrum exercitationem
                          ullam corporis suscipit laboriosam, nisi ut aliquid
                          commodi.
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                          style="width: 150px" />
                        <h5 class="mb-3">Maria Kate</h5>
                        <p>Photographer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum deleniti
                          atque corrupti.
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Entrez en contact avec nous</h3>
      </div>
      <app-contact-us-form></app-contact-us-form>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <header class="section-header">
        <h3>Ils nous ont fait confiance</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <!-- Carousel wrapper -->
            <div id="carouselPartnerInterval" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>

                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>

                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                      <div class="col-lg-2 mt-2">
                        <img src="./assets/img/clients/client-1.png" class="img-fluid" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselPartnerInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselPartnerInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 50px;"></div>
  </section>
  <!-- End Clients Section -->
</main>