<main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div
        class="row justify-content-center align-self-center"
        data-aos="fade-up"
      >
        <div
          class="col-lg-6 intro-info order-lg-first order-last"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <h2>Rapid Solutions<br />for Your <span>Business!</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>

        <div
          class="col-lg-6 intro-img order-lg-last order-first"
          data-aos="zoom-out"
          data-aos-delay="200"
        >
          <img src="./assets/img/intro-img.svg" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/about-img.jpg" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2>A propos de nous</h2>
            <p>
              <b>AFRIKA JOB’S & CONSULTING</b> est un cabinet de ressources
              humaines dont le siège social est situé à Douala.
            </p>
            <p>
              Notre cœur de métier est la mise à disposition du personnel qui
              consiste à aider les entreprises à combler leurs besoins en
              personnels de la manière la plus efficace en les soulageant de
              tout fardeau administratif et risques liés à la main d’œuvre et
              aux contraintes de temps.Nous sommes réputés pour notre excellence
              opérationnelle favorise par le dynamisme de son équipe.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Du personnel qualifié de
                toute catégorie socio-professionnelle.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>Un ensemble de services en
                direction des personnes qui ont besoin d’une aide personnelle à
                leur domicile (chauffeurs, coursiers, entretien de la maison,
                garde-malade, etc.).
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Du personnel pour des travaux
                ménagers (maintenance, travaux de jardinage, etc.)
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Gestion prévisionnel des
                emplois et compétences.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Contribution à la mise en
                place du système de collecte des informations relatives à la
                paie.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Diagnostiquer
                systématiquement l’entreprise dans le volet ressources humaines
                et relever les éléments lui permettant d’appréhender la qualité
                du management en place.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>Identifier les goulots
                d’étranglement et prescrire des solutions devant permettre la
                traçabilité des outils de gestion des ressources humaines.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> La formation sur les
                thématiques en relation avec l’administration du travail et de
                la prévoyance sociale.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Relations avec la caisse
                nationale de prévoyance sociale.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Nos services</h3>
        <p>Nos services pour nos besoins</p>
      </header>

      <div class="row g-5">
        <div
          class="col-md-6 col-lg-4 wow bounceInUp"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="box">
            <div class="icon" style="background: #fceef3">
              <i class="bi bi-briefcase" style="color: #ff689b"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/placement-du-personnel"
                >Mise à la disposition du personnel</a
              >
            </h4>
            <p class="description">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon" style="background: #fff0da">
              <i class="bi bi-card-checklist" style="color: #e98e06"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/management-des-rh"
                >Management des ressources humaines</a
              >
            </h4>
            <p class="description">
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #e6fdfc">
              <i class="bi bi-bar-chart" style="color: #3fcdc7"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/audit-des-rh"
                >Audit des ressources humaines</a
              >
            </h4>
            <p class="description">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-4 wow"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="box">
            <div class="icon" style="background: #eafde7">
              <i class="bi bi-binoculars" style="color: #41cf2e"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/fiscalite-administrative"
                >Fiscalité administrative</a
              >
            </h4>
            <p class="description">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #ecebff">
              <i class="bi bi-calendar4-week" style="color: #8660fe"></i>
            </div>
            <h4 class="title">
              <a routerLink="nos-services/traning">Fomations</a>
            </h4>
            <p class="description">
              Et harum quidem rerum facilis est et expedita distinctio. Nam
              libero tempore, cum soluta nobis est eligendi
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container-fluid" data-aos="fade-up">
      <header class="section-header">
        <h3>Pourquoi nous choisir?</h3>
        <p></p>
      </header>

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="why-us-img">
            <img src="./assets/img/why-us.jpg" alt="" class="img-fluid" />
          </div>
        </div>

        <div class="col-lg-6">
          <div class="why-us-content">
            <p>
              Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem
              impedit. Odio dolorum exercitationem est error omnis repudiandae
              ad dolorum sit.
            </p>
            <p>
              Explicabo repellendus quia labore. Non optio quo ea ut ratione et
              quaerat. Porro facilis deleniti porro consequatur et temporibus.
              Labore est odio. Odio omnis saepe qui. Veniam eaque ipsum. Ea quia
              voluptatum quis explicabo sed nihil repellat..
            </p>

            <div
              class="features clearfix"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-bookmarks" style="color: #f058dc"></i>
              <h4>Corporis dolorem</h4>
              <p>
                Commodi quia voluptatum. Est cupiditate voluptas quaerat
                officiis ex alias dignissimos et ipsum. Soluta at enim modi ut
                incidunt dolor et.
              </p>
            </div>

            <div
              class="features clearfix"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="bi bi-box-seam" style="color: #ffb774"></i>
              <h4>Eum ut aspernatur</h4>
              <p>
                Molestias eius rerum iusto voluptas et ab cupiditate aut enim.
                Assumenda animi occaecati. Quo dolore fuga quasi autem aliquid
                ipsum odit. Perferendis doloremque iure nulla aut.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div class="row counters" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="232"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="421"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="1453"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="48"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Hard Workers</p>
        </div>
      </div>
    </div> -->
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">
      <header class="section-header">
        <h3>Témoignages</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <!-- Carousel wrapper -->
            <div
              id="carouselExampleInterval"
              class="carousel slide text-center carousel-dark"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Anna Deynah</h5>
                        <p>UX Designer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quod eos id officiis hic tenetur quae quaerat ad
                          velit ab hic tenetur.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">John Doe</h5>
                        <p>Web Developer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Ut enim ad minima veniam, quis nostrum exercitationem
                          ullam corporis suscipit laboriosam, nisi ut aliquid
                          commodi.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Maria Kate</h5>
                        <p>Photographer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum deleniti
                          atque corrupti.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Anna Deynah</h5>
                        <p>UX Designer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quod eos id officiis hic tenetur quae quaerat ad
                          velit ab hic tenetur.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">John Doe</h5>
                        <p>Web Developer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Ut enim ad minima veniam, quis nostrum exercitationem
                          ullam corporis suscipit laboriosam, nisi ut aliquid
                          commodi.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Maria Kate</h5>
                        <p>Photographer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum deleniti
                          atque corrupti.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Entrez en contact avec nous</h3>
        <p></p>
      </div>
      <app-contact-us-form></app-contact-us-form>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <header class="section-header">
        <h3>Nos partenaires</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <!-- Carousel wrapper -->
            <div
              id="carouselPartnerInterval"
              class="carousel slide text-center carousel-dark"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>

                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>

                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="col-lg-2 mt-5">
                        <img
                          src="./assets/img/clients/client-1.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselPartnerInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselPartnerInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->
</main>
