<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container shadow-div p-4" data-aos="fade-up">
      <div class="justify-content-center" style="background-color: #03224c">
        <h2 class="text-center text-white"><b>MISE À DISPOSITION DU PERSONNEL</b></h2>
      </div>
      <div class="justify-content-center">
        <p class="text-center">
          Nous vous offrons au travers de ce service,
        </p>
      </div>
      <div class="row mt-2">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <!-- <img src="./assets/img/personel-1024x683.jpg" alt="" /> -->
            <img src="./assets/img/photo/miseadispo2.webp" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content mt-3" data-aos="fade-left" data-aos-delay="100">
            <ul>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i> Du personnel qualifié de
                toute catégorie socio-professionnelle.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Un ensemble de services en
                direction des personnes qui ont besoin d’une aide personnelle à
                leur domicile (chauffeurs, coursiers, entretien de la maison,
                garde-malade, etc.).
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i> Du personnel pour des travaux
                ménagers (maintenance, travaux de jardinage, etc.)
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i> Des hôtesses ou des stewards.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i> Du personnel qualifié pour
                des postes non permanentes.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i> Du remplacement de personnel
                permanent.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2"></div>
  </section>
  <!-- End About Section -->
</main>