<main id="main">
  <section id="about" class="about mt-5">
    <div class="container" data-aos="fade-up">
      <div class="justify-content-center">
        <h2 class="text-center"><b>FORMATION</b></h2>
        <p class="text-center">
          Afin de maitriser les enjeux lies aux ressources humaines et le
          pilotage de la masse salariale au sein de vos entreprises nous vous
          proposons au menu une formation de qualité sur :
        </p>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/formations1-1024x1024.jpg" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <ul>
              <li><i class="bi bi-check-circle"></i>Le progiciel sage paie.</li>
              <li>
                <i class="bi bi-check-circle"></i>La formation des délégués du
                personne.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>La formation du comité
                d’hygiène et de sécurité.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> La formation sur les
                thématiques en relation avec l’administration du travail et de
                la prévoyance sociale.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> L’aide par l’approche
                participative du participant à bien appréhender les
                préoccupations. Objet de la formation.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
