<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container" data-aos="fade-up">
      <div class="justify-content-center">
        <h2 class="text-center"><b>DÉSIRÉ KENFACK</b></h2>
        <h4 class="text-center">Promoteur</h4>
        <p class="text-center">
          Avec une grande expérience dans le domaine de l’administration et de
          la fourniture de services, moi et mon équipe nous nous mettons
          entièrement avec dévouement à votre disposition pour l’atteinte de vos
          objectifs d’affaires, objectifs professionnels et vos objectifs de
          carrière.
        </p>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/rh..-1024x1024.jpg" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <p>
              <b>AFRIKA JOB’S & CONSULTING</b> est un cabinet de ressources
              humaines dont le siège social est situé à Douala.
            </p>
            <p>
              Notre cœur de métier est la mise à disposition du personnel qui
              consiste à aider les entreprises à combler leurs besoins en
              personnels de la manière la plus efficace en les soulageant de
              tout fardeau administratif et risques liés à la main d’œuvre et
              aux contraintes de temps.Nous sommes réputés pour notre excellence
              opérationnelle favorise par le dynamisme de son équipe.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i> Du personnel qualifié de
                toute catégorie socio-professionnelle.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>Un ensemble de services en
                direction des personnes qui ont besoin d’une aide personnelle à
                leur domicile (chauffeurs, coursiers, entretien de la maison,
                garde-malade, etc.).
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Du personnel pour des travaux
                ménagers (maintenance, travaux de jardinage, etc.)
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Gestion prévisionnel des
                emplois et compétences.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Contribution à la mise en
                place du système de collecte des informations relatives à la
                paie.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>
