<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container" data-aos="fade-up">
      <div class="row gx-5">
        <div class="col-md-6">
          <div class="p-3 border bg-light">
            <h4 class="text-center">Liste des profils chopper</h4>
            <div class="mt-5" *ngIf="chopperLength == 0">
              <div class="d-flex justify-content-center">
                <img
                  src="./assets/img/images__2_-removebg-preview.png"
                  alt="Generic placeholder image"
                />
              </div>
              <div class="d-flex justify-content-center">
                <h5 class="text-center">Aucun resultat</h5>
              </div>
            </div>
            <div
              class="d-flex justify-content-center"
              style="position: relative"
            >
              <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="rgb(11, 228, 65)"
                type="square-jelly-box"
                [fullScreen]="false"
              >
                <!-- <p style="font-size: 20px; color: rgb(11, 228, 65)">
                  Loading...
                </p> -->
              </ngx-spinner>
            </div>
            <div
              class="col-md-12 p-3"
              *ngFor="
                let chopper of chopperList
                  | paginate
                    : {
                        itemsPerPage: 5,
                        currentPage: p_myProfils,
                        id: 'p_myProfils_id'
                      };
                let i = index
              "
            >
              <div class="card mt-3" style="border-radius: 15px">
                <div class="card-body p-4">
                  <div class="d-flex text-black">
                    <div class="flex-grow-1 ms-3">
                      <div class="row">
                        <div class="col-md-6">
                          <h5 class="mb-1">{{ chopper.candidat.fonction }}</h5>
                        </div>
                        <div class="col-md-6">
                          <p
                            class="mb-1 d-flex justify-content-end text-secondary"
                          >
                            <small>{{
                              settingsService.convertTodate(chopper.created_at)
                                | date : "dd/MM/yyyy"
                            }}</small>
                          </p>
                        </div>
                      </div>
                      <div
                        class="d-flex justify-content-start rounded-3 p-2 mb-2"
                        style="background-color: #efefef"
                      >
                        <div>
                          <p class="small text-muted mb-1">Age</p>
                          <p class="mb-0">
                            {{
                              settingsService.CalculateAge(
                                chopper.datenaissance
                              )
                            }}
                            ans
                          </p>
                        </div>
                        <div class="px-3">
                          <p class="small text-muted mb-1">Année d'exp</p>
                          <p class="mb-0">
                            {{ chopper.candidat.nbreanneeexp }} ans
                          </p>
                        </div>
                        <div>
                          <p class="small text-muted mb-1">Adresse</p>
                          <p class="mb-0">
                            {{ chopper.candidat.pays }} -
                            {{ chopper.candidat.ville }}
                          </p>
                        </div>
                        <div class="px-3">
                          <p class="small text-muted mb-1">Civilité</p>
                          <p class="mb-0">{{ chopper.candidat.civilite }}</p>
                        </div>
                      </div>
                      <div class="d-flex pt-1">
                        <button
                          type="button"
                          class="btn btn-outline-primary me-1 flex-grow-1"
                          (click)="find_profile()"
                        >
                          Voir plus
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger flex-grow-1"
                          (click)="cancel_chopper(chopper)"
                        >
                          Supprimer
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <pagination-controls
                id="p_myProfils_id"
                (pageChange)="p_myProfils = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3 border bg-light">
            <h4 class="text-center">Liste des profils demander</h4>
            <div class="mt-5" *ngIf="demandeProfilListLength == 0">
              <div class="d-flex justify-content-center">
                <img
                  src="./assets/img/images__2_-removebg-preview.png"
                  alt="Generic placeholder image"
                />
              </div>
              <div class="d-flex justify-content-center">
                <h5 class="text-center">Aucun resultat</h5>
              </div>
            </div>
            <div
              class="d-flex justify-content-center"
              style="position: relative"
            >
              <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="rgb(11, 228, 65)"
                type="square-jelly-box"
                [fullScreen]="false"
              >
                <!-- <p style="font-size: 20px; color: rgb(11, 228, 65)">
                  Loading...
                </p> -->
              </ngx-spinner>
            </div>
            <div
              class="col-md-12 p-3"
              *ngFor="
                let demandeProfil of demandeProfilList
                  | paginate
                    : {
                        itemsPerPage: 5,
                        currentPage: p_myAskProfils,
                        id: 'p_myAskProfils_id'
                      };
                let i = index
              "
            >
              <div class="card mt-3" style="border-radius: 15px">
                <div class="card-body p-4">
                  <div class="d-flex text-black">
                    <div class="flex-grow-1 ms-3">
                      <div class="row">
                        <div class="col-md-6">
                          <h5 class="mb-1">{{ demandeProfil.poste }}</h5>
                        </div>
                        <div class="col-md-6">
                          <p
                            class="mb-1 d-flex justify-content-end text-secondary"
                          >
                            <small>{{
                              settingsService.convertTodate(
                                demandeProfil.created_at
                              ) | date : "dd/MM/yyyy"
                            }}</small>
                          </p>
                        </div>
                      </div>
                      <div
                        class="d-flex justify-content-start rounded-3 p-2 mb-2"
                        style="background-color: #efefef"
                      >
                        <div>
                          <p class="small text-muted mb-1">Type de contrat</p>
                          <p class="mb-0">{{ demandeProfil.typeContrat }}</p>
                        </div>
                        <div class="px-3">
                          <p class="small text-muted mb-1">Horaire</p>
                          <p class="mb-0">{{ demandeProfil.horaireTravail }}</p>
                        </div>
                        <div class="px-3">
                          <p class="small text-muted mb-1">N° de place</p>
                          <p class="mb-0">{{ demandeProfil.nbProfil }}</p>
                        </div>
                        <div>
                          <p class="small text-muted mb-1">Adresse</p>
                          <p class="mb-0">{{ demandeProfil.lieuTravail }}</p>
                        </div>
                      </div>
                      <div class="d-flex pt-1">
                        <button
                          type="button"
                          class="btn btn-warning me-1 flex-grow-1"
                          [routerLink]="[
                            '/entreprise/edit-ask-profile/',
                            demandeProfil.oid
                          ]"
                          [disabled]="
                            todayDate >= demandeProfil.dateline ? true : false
                          "
                        >
                          Editer
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger flex-grow-1"
                          [disabled]="
                            todayDate >= demandeProfil.dateline ? true : false
                          "
                        >
                          Annuler
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <pagination-controls
                id="p_myAskProfils_id"
                (pageChange)="p_myAskProfils = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1"></div>
  </section>
  <!-- End About Section -->
</main>
