<main id="main" class="child1">
  <section id="about" class="about mt-5">
    <div class="container shadow-div  p-4 " data-aos="fade-up">
      <div class="justify-content-center" style="background-color: #03224c;">
        <h2 class="text-center text-white"><b>NOS MISSIONS</b></h2>
      </div>
      <div class="row mt-2">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/audit-1.jpg" alt="" height="600px" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100" style="justify-content: center;">
            <ul>
              <li style="justify-content: center;" style="text-align: justify;">
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28); text-align: justify;"></i>Implémenter des
                solutions pratiques afin d’orienter et
                accompagner les organisations, les entreprises publiques et
                privées, ainsi que les particuliers dans le cadre du
                développement de leurs activités et compétences.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Mettre en application les solutions
                les plus précieuses en
                matière de technologie, d'organisation et de développement.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Mettre en exécution des solutions
                pratiques pour guider et
                aider les organismes, les entreprises publiques et privées,
                ainsi que les individus à développer leurs activités et leurs
                compétences.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Mettre en œuvre les solutions les plus
                précieuses en matière de
                technologie, d’organisation et de développement
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Nous intervenons quotidiennement pour
                les personnes en quête
                d'insertion sociale et professionnelle.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Adhérer à la clause de confidentialité
                pour tous les
                renseignements qui nous ont été fournis avant, pendant et après
                notre opération.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Assurer nos clients de notre
                disponibilité en respectant les
                délais prescrits.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Garantir la disponibilité à nos
                clients dans les délais
                impartis.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Accompagner les managers dans la
                gestion des ressources
                humaines
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Motiver les collaborateurs à
                s’identifier à la société en les
                aidant à améliorer leur condition de vie
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>Satisfaire les attentes de nos clients
                au moyen de solutions
                appropriées
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 150px;"></div>
  </section>
</main>
<div class="child2"> </div>