<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container shadow-div p-4" data-aos="fade-up">
      <div class="justify-content-center" style="background-color: #03224c">
        <h2 class="text-center text-white"><b>FACILITÉ ADMINISTRATIVE</b></h2>
      </div>
      <div class="justify-content-center">
        <p class="text-center">
          Nous vous aiderons ici par :
        </p>
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-6 mt-5">
          <div class="about-img mt-5" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/management-de-ressource-humaines.jpg" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6 mt-1">
          <div class="about-content mt-5" data-aos="fade-left" data-aos-delay="100">
            <ul>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>L'externalisation de la paie.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>La gestion de la relations avec la
                caisse nationale de prévoyance sociale(CNPS).
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>La gestion de la relation avec
                l’inspection du travail.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                L'obtention des formules exécutoires auprès des tribunaux.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: rgb(28, 228, 28)"></i>
                La facilitation des formalités pour les travailleurs expatries
                (obtentions des visas de travail, etc.).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2"></div>
  </section>
  <!-- End About Section -->
</main>