<main id="main">
  <section id="about" class="about mt-5">
    <div class="container" data-aos="fade-up">
      <div class="justify-content-center">
        <h2 class="text-center"><b>FACILITÉ ADMINISTRATIVE</b></h2>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem omnis eius odit amet tenetur magnam asperiores harum ex
          illo? Ullam odio exercitationem iusto? Laborum dignissimos mollitia
          autem doloribus illo eius?
        </p>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/faciliteer-1024x1024.jpg" alt="" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <ul>
              <li>
                <i class="bi bi-check-circle"></i>Externalisation de la paie.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>Relations avec la caisse
                nationale de prévoyance sociale.
              </li>
              <li>
                <i class="bi bi-check-circle"></i>Relation avec l’inspection du
                travail.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Obtention des formules
                exécutoires auprès des tribunaux.
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Facilitation des formalités
                pour les travailleurs expatries (obtentions des visas de
                travail, etc.).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
