<main id="main">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact mt-5">
    <div class="contact_info" data-aos="fade-up">
      <div class="container">
        <div class="page-wrap d-flex flex-row align-items-center">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-md-12 text-center">
                <img
                  src="./assets/img/BountifulPalatableHerring-size_restricted.gif"
                  alt=""
                />
                <div class="mb-4 lead mt-3">
                  <h1>Oops!</h1>
                  Cette page est en cours de maintenance
                </div>
                <div class="error-actions">
                  <a href="/" class="btn btn-primary btn-lg"
                    ><i class="fa fa-home"></i> Retour à l'acceuil
                  </a>
                  &nbsp;<a
                    href="nous-contacter"
                    class="btn btn-secondary btn-lg"
                    ><i class="fa fa-envelope"></i> Contacter le Support
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
