<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about mt-5">
    <div class="container" data-aos="fade-up">
      <div class="row gx-5">
        <div class="col-md-4">
          <div class="p-3 border bg-light">
            <h4 class="text-center">Profils similaire</h4>
            <div class="card mt-3" style="border-radius: 15px">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image"
                      class="img-fluid"
                      style="width: 100px; border-radius: 10px"
                    />
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">Lucien Didier</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a">Ingenieur IT</p>

                    <div class="d-flex pt-1">
                      <button
                        type="button"
                        class="btn btn-outline-primary me-1 flex-grow-1"
                      >
                        Voir plus
                      </button>
                      <button type="button" class="btn btn-primary flex-grow-1">
                        Le chopper
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3 border">
            <div class="col-md-12 p-3">
              <div class="col-md-12">
                <div class="card">
                  <div
                    class="rounded-top text-white d-flex flex-row"
                    style="background-color: #000; height: 200px"
                  >
                    <div
                      class="ms-4 mt-5 d-flex flex-column"
                      style="width: 150px"
                    >
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                        alt="Generic placeholder image"
                        class="img-fluid img-thumbnail mt-4 mb-2"
                        style="width: 150px; z-index: 1"
                      />
                    </div>
                    <div class="ms-3" style="margin-top: 130px">
                      <h5>Lucien Didier</h5>
                      <p>Ingenieur IT</p>
                    </div>
                  </div>
                  <div class="p-4 text-black">
                    <div class="d-flex justify-content-end text-center py-1">
                      <div>
                        <p class="small text-muted mb-1">Age</p>
                        <p class="mb-0">24 ans</p>
                      </div>
                      <div class="px-3">
                        <p class="small text-muted mb-1">Pays</p>
                        <p class="mb-0">Cameroun</p>
                      </div>
                      <div>
                        <p class="small text-muted mb-1">Ville</p>
                        <p class="mb-0">Douala</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-body text-black">
                    <div class="mb-5">
                      <p class="lead fw-normal mb-1">Experience Academique </p>
                      <div class="p-4" style="background-color: #f8f9fa">
                        <p class="font-italic mb-1"><i class="fa fa-graduation-cap">&nbsp;</i>Web Developer</p>
                        <p class="font-italic mb-1"><i class="fa fa-graduation-cap">&nbsp;</i>Lives in New York</p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <p class="lead fw-normal mb-1">Experience professionnelle </p>
                      <div class="p-4" style="background-color: #f8f9fa">
                        <p class="font-italic mb-1"><i class="fa fa-handshake-o">&nbsp;</i>Web Developer</p>
                        <p class="font-italic mb-1"><i class="fa fa-handshake-o">&nbsp;</i>Lives in New York</p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <p class="lead fw-normal mb-1">Langue </p>
                      <div class="p-4" style="background-color: #f8f9fa">
                        <p class="font-italic mb-1"><i class="fa fa-assistive-listening-systems">&nbsp;</i>Web Developer</p>
                        <p class="font-italic mb-1"><i class="fa fa-assistive-listening-systems">&nbsp;</i>Lives in New York</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1"></div>
  </section>
  <!-- End About Section -->
</main>
