<main id="main">
  <section id="about" class="about mt-5">
    <div class="container shadow-div p-4" data-aos="fade-up">
      <div class="justify-content-center" style="background-color: #03224c">
        <h2 class="text-center text-white">
          <b>MANAGEMENT DES RESSOURCES HUMAINES</b>
        </h2>
      </div>
      <div class="justify-content-center">
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem omnis eius odit amet tenetur magnam asperiores harum ex
          illo? Ullam odio exercitationem iusto? Laborum dignissimos mollitia
          autem doloribus illo eius?
        </p>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="./assets/img/audit-1.jpg" alt="" height="600px" />
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div
            class="about-content"
            data-aos="fade-left"
            data-aos-delay="100"
            style="justify-content: center"
          >
            <ul>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Gestion prévisionnel des emplois et compétences.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i
                >Assistance au recrutement (de la recherche de candidats au
                suivi de l’intégration du candidat).
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Rémunération.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Conseils & Accompagnement.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Contribution à la mise en place du système de collecte des
                informations relatives à la paie.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Contribution au traitement des informations relatives à la paie.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Supervision de l’élaboration des bulletins de paie et du livre
                de paie. Contribution à l’élaboration des contrats de travail.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Contribution à l’organisation et supervision des élections des
                délégués du personnel.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Recommandations en vue de la mise en place d’un règlement
                intérieur, du conseil de discipline et du comité d’hygiène et de
                sécurité.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i
                >Mise en place d’un système de contrôle de l’application des
                obligations sociales en matière de droit de travail.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Identification des risques des maladies professionnelles.
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Mise en place des méthodes de prévention des maladies
              </li>
              <li>
                <i
                  class="bi bi-check-circle"
                  style="color: rgb(28, 228, 28)"
                ></i>
                Contrôle des différentes visites médicales obligatoires à
                effectuer par le personnel.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2"></div>
  </section>
</main>
