<div class="container ma_div">




  <form [formGroup]="registerform" (ngSubmit)="onRegisterCandidat()">
    <div class="row border justify-content-center">
      <div class="row mt-3">
        <div class="w-50 mx-auto">
          <h3>Formulaire d'enregistrement</h3>
        </div>
      </div>
      <div class="mb-3 row col-md-8 mt-3">
        <label for="nomcamdidat" class="col-sm-4 col-form-label">Etat civil</label>
        <div class="form-check form-check-inline col-md-1">
          <input class="form-check-input" type="radio" name="civilite" id="monsieur" value="Monsieur"
            formControlName="civilite">
          <label class="form-check-label" for="monsieur">M.</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
          <input class="form-check-input" type="radio" name="civilite" id="madame" value="Madame"
            formControlName="civilite">
          <label class="form-check-label" for="madame">Mdme</label>
        </div>
        <div class="form-check form-check-inline col-md-1 ">
          <input class="form-check-input" type="radio" name="civilite" id="mademoiselle" value="Mademoiselle"
            formControlName="civilite">
          <label class="form-check-label" for="mademoiselle">Mlle</label>
        </div>
      </div>
      <div class="mb-3 row col-md-8 mt-3">
        <label for="nom" class="col-sm-4 col-form-label">Nom du candidat</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="nom" formControlName="nom">
        </div>
      </div>
      <div class="mb-3 row col-md-8">
        <label for="prenom" class="col-sm-4 col-form-label">Prénom</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="prenom" formControlName="prenom">
        </div>
      </div>
      <div class="mb-3 row col-md-8">
        <label for="email" class="col-sm-4 col-form-label">Adresse email</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
      </div>
      <div class="mb-3 row col-md-8">
        <label for="password" class="col-sm-4 col-form-label">Mot de passe</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="motdepasse" formControlName="password">
        </div>
      </div>
      <div class="mb-3 row col-md-8">
        <label for="motdepasse1" class="col-sm-4 col-form-label">confirmer mot de passe</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="motdepasse1" formControlName="password1"
            (change)="onVerifMotDePasse()" (click)="onVerifInitPasse()">
        </div>
      </div>
      <div class="mb-3 row col-md-8 center" *ngIf="messageconfirmpassword">
        <h6 style="color: red;">{{messageconfirmpassword}}</h6>
      </div>
      <div class="mb-3 row justify-content-center col-md-8">
        <button type="submit" class="btn btn-primary btn-sm col-md-3"
          [disabled]="!registerform.valid">S'enregistrer</button>
      </div>
    </div>
  </form>

  {{registerform.value | json}}
</div>