<div class="container">
  <div class="row justify-content-center"></div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-map-marker"></span>
              </div>
              <div class="text">
                <p>
                  <span>Adresse: </span> Cameroun, Douala-Makepe
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-phone"></span>
              </div>
              <div class="text">
                <p>
                  <span>N° de téléphone: </span>
                  <a href="tel://1234567920">+237 655 92 00 70 / 242 00 82 51</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-paper-plane"></span>
              </div>
              <div class="text">
                <p>
                  <span>Email: </span>
                  <a href="mailto:info@yoursite.com">info@afrikajobsconsulting.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-globe"></span>
              </div>
              <div class="text">
                <p><span>Site web: </span> <a href="#">afrikajobsconsulting.com</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters mb-5">
          <div class="col-md-7 mt-5">
            <div class="contact-wrap w-100 p-md-5 p-4">
              <h3 class="mb-4">Contact Us</h3>
              <div id="form-message-warning" class="mb-4"></div>
              <div id="form-message-success" class="mb-4">
                Your message was sent, thank you!
              </div>
              <form
                method="POST"
                id="contactForm"
                name="contactForm"
                class="contactForm"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label" for="name">Nom complet</label>
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label" for="email">Adresse email</label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label" for="subject">Sujet</label>
                      <input
                        type="text"
                        class="form-control"
                        name="subject"
                        id="subject"
                        placeholder="Subject"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label" for="#">Message</label>
                      <textarea
                        name="message"
                        class="form-control"
                        id="message"
                        cols="30"
                        rows="4"
                        placeholder="Message"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="submit"
                        value="Envoyer"
                        class="btn btn-primary"
                      />
                      <div class="submitting"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-5 d-flex align-items-stretch">
            <div class="mt-5" id="map" style="height: 92%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
